@import './variable';
@import 'node_modules/bootstrap/scss/bootstrap';
@import './components/components';

html {
    background: $gray-800;
    body {
        background: transparent;
        #root {
            background: transparent;
            .App {
                .wizard-title {
                    font-size: 5.5rem;
                    .seminar {
                        color: $white;
                    }
                    .registration {
                        color: $primary;
                    }
                }
            }
        }
    }
}
